@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  .custom-trigger {
    transition: background-color 0.3s ease-in-out;
  }
  .custom-trigger--0{
    background-color: hsl(0,100%,70%);
  }
  .custom-trigger--1{
    background-color: hsl(120,100%,70%);
  }
  .custom-trigger--2{
    background-color: hsl(240,100%,70%);
  }
  .custom-trigger--3{
    background-color: hsl(360,100%,70%);
  }
  .stickyroll-content {
    position: sticky;
    top: 0;
    height: 100vh;
}